{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="" method="post">
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputText">Usuario</label>
      <input type="text" class="form-control" id="exampleInputText" name="username" aria-describedby="usuario" placeholder="nombre de usuario">
      <small id="emailHelp" class="form-text text-muted">Usuario registrado.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content%}